{% extends "./base.html" %}
{% load static %}


{% block title %}Inicio{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}


{% block body %}


<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-9 mx-auto">
                <h1 class="fw-light"><strong>Salvador Dalí</strong></h1>
                <p class="lead text-body-secondary">
                    ¡Descubre el genio surrealista de Salvador Dalí! Sumérgete en su mundo de imaginación desbordante y creatividad sin límites, donde cada obra es una puerta a lo extraordinario.
                </p>
                <hr>
            </div>
        </div>
    </section>

    <div class="album bg-body-tertiary">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for obra in obras %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static obra.img %}" alt="{{ obra.title }}" class="bd-placeholder-img card-img-top" width="100%" height="225">
                            <div class="card-body">
                                <p><strong>{{ obra.title }}</strong></p>
                                <hr>
                                <p class="card-text">{{ obra.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url obra.url obra.id %}"><button class="btn btn-sm btn-outline-secondary">View</button></a>
                                    <small class="text-body-secondary">{{ obra.time }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>

</main>



<script src="{% static 'js/inicio.js' %}"></script>
{% endblock %}